<!-- <h1>Contacto: ID</h1> -->

<ng-container *ngIf="contacto; else elseContacto">
  <h1>Contacto: {{ id }}</h1>
  <!-- GENERAMOS UN PIPE PARA TRAER EL NOMBRE COMPLETO -->
  <img [src]="contacto.picture.thumbnail" class="rounded-image">
  <h2>Nombre: {{ contacto | nombreCompleto }}</h2>
  <h3>Email: {{ contacto.email }} </h3>
</ng-container>

<ng-template #elseContacto>
  <p>Error en el contacto</p>
</ng-template>

<!-- filtro previo nos va a volver a la lista por filtro -->
<!-- si no tuviera el filtro nos trae toda la lista completa de contactos -->
<a mat-stroked-button routerLink="/dashboard/contacts" [queryParams]="{sexo: filtroPrevio}">Volver</a>
