<h1>Tareas del dia</h1>
<h3>Seleccionador de Tareas</h3>


<ng-container *ngIf="contactoSeleccionado; else elseSeleccionado">
  <h4 ngClass="{font}"> Las tareas asignadas son para: {{ contactoSeleccionado.name.first }} </h4>
</ng-container>

<ng-template #elseSeleccionado>
  <div>
    <p>Asigna tareas a un empleado! Selecciona uno</p>
  </div>
</ng-template>

<!-- HACER LOGIN -->
<!-- ngif si el token esta presente entonces deja de aparecer iniciar sesion -->
<!-- <a *ngIf="!token" routerLink="/login">Iniciar Sesion</a> -->

<button mat-raised-button color="primary" (click)="navegarAContacts()">Ver empleados</button>

<hr>

<div>
  <p>Filtros:</p>
  <a  mat-button color="primary"
      [routerLink]="['/dashboard/contacts']"
      [queryParams]="{sexo: 'female'}">
      Empleadas  </a>

  <a  mat-button color="primary"
      [routerLink]="['/dashboard/contacts']"
      [queryParams]="{sexo: 'male'}"> Empleados</a>

</div>
