<h1>Tus contactos:</h1>

<!-- listar contactos y poder navegar al pinchar en ellos, al detalle -->
<div *ngFor="let contacto of listaContactos; let i = index">

  <div routerLink="{{ contacto.id }}" [state]="{data: contacto, filtro: filtroSexo}">
    <h5 class="contacto">{{ contacto.nombre }}</h5>
    <!-- segunda parte -->
    <button (click)="volverAHome(contacto)">Seleccionar como amigo invisible</button>
    <!--  -->
  </div>
</div>

<ng-container *ngIf="filtroSexo == 'mujer' || filtroSexo == 'hombre'; else completo">
  <p>Mostrando lista filtrada por: "{{ filtroSexo }}" </p>
</ng-container>
<ng-template #completo>
  <p>Mostrando lista de contactos completa</p>
</ng-template>

<a routerLink="/home">Volver</a>
